html, body {
    height: 100%;
}
.margin-gap {
    margin-left: -15px;
    margin-right: -15px;
}
.sufix-gap {
    padding-right: -15px;
}

.header {
    background: #393939;
    height: 60px;
    text-align:  center;
}

.header a {
    display: block;
    width: 52px;
    height: 45px;
    margin: 0 auto;
    padding-top: 6px;
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.middle-wrapper {
  flex: 1;
}

.key-code {
    font-size: 300px;
    text-align: center;
    color: #e1e1e1;
    line-height: 300px;
    display: none;
}

.active {
    display: block;
}

.key-name {
    font-weight: bold;
    color: #393939;
    text-align: center;
    font-size: 35px;
}

.footer {
    background: yellow;
}

.footer h1 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 0;
}

.info-block {
    background: #393939;
    padding: 10px 20px;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
}
